.caixa1{
  height: 90vh;
  width: 100%;
  background: #685e5e;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#img-loja{
  height: 20vh;
  width: 40%;
  margin-left: 4%;
  margin-top: 30px;
}
#loja{
  height: 70vh;
  width: 100%;
  transition:
   transform 2.2s cubic-bezier(0.22, 1, 0.36, 1),
   box-shadow 2s cubic-bezier(0.22, 1, 0.36, 1);
}
#loja:hover{
  transform: translateY(-15px) scale(1.01);
}
#texto-loja{
  width: 48%;
  float: right;
  margin-right: 3%;
  margin-top: -6%;
  color: white;
  font-size: 24px;
  line-height: 40px;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease;
  text-align: justify;
}
#texto-loja.mostrar{
  opacity: 1;
  transform: translateY(0);
}
#texto-loja h1{
  color: #cc121f;
  text-align: center;
}
#texto-loja p{
  margin-top: 2%;
  margin-top: 8%;
}
.caixa2{
  height: 110vh;
  width: 100%;
  background: #6d6565;
  float: left;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.titulo h1{
  margin-top: 3%;
}
.titulo h1.mostrar{
  opacity: 1;
  transform: translateY(0);
}
#risco{
  opacity: 3;
  transform: scaleX(0);
  transition: all 0.8s ease;
}
#risco.mostrar{
  opacity: 1;
  transform: scaleX(1);
}
.texto-historia{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 0.8s ease;
}
.texto-historia.mostrar{
  opacity: 1;
  transform: translateX(0);
}
#img-antes{
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease;
}
#img-antes.mostrar{
  opacity: 1;
  transform: translateY(0);
}
#img-depois{
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.8s ease;
}
#img-depois.mostrar{
  opacity: 1;
  transform: translateY(0);
}
.titulo{
  height: 7vh;
  width: 100%;
  background-color: none;
  margin-top: 3%;
  font-size: 1.2em;
}
.titulo h1{
  text-align: center;
  color: #f0ecec;
}
#risco{
  height: 0.2vh;
  width: 41%;
  margin-left: 30%;
  background: #c90d0d;
}
.texto-historia{
  width: 35%;
  text-align: justify;
  margin-top: 5%;
  margin-left: 5%;
  float: left;
}
.texto-historia li{
  margin-top: 2%;
  color: #cecdcd;
}
.antesxdepois{
  width: 55%;
  height: 80vh;
  background-color:none;
  float: right;
  margin-top: 4%;
  margin-left: 10px;
}
#img-antes{
  width:45%;
  height: 70vh;
  background-color: none;
  float: left;
  margin-top: 4%;
  margin-left: 3%;
}
#img-antes img{
  width: 100%;
  height: 70vh;
  transition:
   transform 2.2s cubic-bezier(0.22, 1, 0.36, 1),
   box-shadow 2s cubic-bezier(0.22, 1, 0.36, 1);
}
#img-antes img:hover{
  transform: translateY(-15px) scale(1.01);
}
#img-depois{
  width: 45%;
  height: 70vh;
  background-color: none;
  float: right;
  margin-right: 4%;
  margin-top: 4%;
}
#img-depois img{
   width: 100%;
   height: 70vh;
   transition:
    transform 2.2s cubic-bezier(0.22, 1, 0.36, 1),
    box-shadow 2s cubic-bezier(0.22, 1, 0.36, 1);
}
#img-depois img:hover{
  transform: translateY(-15px) scale(1.01);
}
.caixa3{
  height: 120vh;
  width: 100%;
  background: #252424;
  float: left;
  margin-top: none;
}
.caixa3 h1{
  margin-top: 5%;
  margin-left: 10%;
  color: #ffffff;
  font-size: 2.3em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  transform: translateY(60px);
  transition: 0.8s ease;
}
.caixa3 h1.mostrar{
  opacity: 1;
  transform: translateY(0);
}
#fundadora-foto{
  height: 80vh;
  width: 30%;
  margin-left: 10%;
  margin-top: 4%;
  overflow: hidden;
  float: left;
   transform: translateX(-100px);
  transition: 0.8s ease;
}
#fundadora-foto.mostrar{
  opacity: 1;
  transform: translateX(0);
}

#fundadora-foto img{
  height: 80vh;
  width: 100%;
  object-fit: cover;
  border-radius: 40px;

  filter: grayscale(100%);
  transition: 0.8s ease;
}

#fundadora-foto img:hover{
  filter: grayscale(0%);
  transform: scale(1.03);
} 
.historia-ceo{
   height: 80vh;
   width: 50%;
   float: right;
   background: none;
   margin-right: 5%;
   margin-top: 3.4%;
   text-align: left;
   color: #ffffff;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   transform: translateX(100px);
  transition: 0.8s ease;
}
.historia-ceo.mostrar{
  opacity: 1;
  transform: translateX(0);
}
h3{
  color: none;
  margin-top: 2%;
}
#h3-b{
  margin-top: 11%; 
  transform: translateY(80px);
  transition: 0.8s ease;  
}
#h3-b.mostrar{
  opacity: 1;
  transform: translateY(0);
}